.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

img {
    width: 100px;
    height: 100px;
    top: 5px;
    left: 0px
}

#imagen {
    position: absolute;
}


.form-datos {
    display: none;
}

.card {
    height: 250px;
    width: 100px;
    float: none;
    margin-left: auto;
    margin-right: auto;
}

em.error {
    color: red;
}